html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  background: #000;
  font-family: sans-serif;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/imgs/background.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
}

/* 돋보기 */
#magnifier {
  position: fixed;
  width: 280px;
  height: 180px;
  border-radius: 150px;
  cursor: grab;
  z-index: 10;
  pointer-events: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25),
    0 -10px 25px inset rgba(0, 0, 0, 0.15),
    0 -1px 4px 1px inset rgba(255, 255, 255, 0.75);
}
